<div class="MainContainer">
  <div class="FormContainer">
    <div class="InputContainer">
      <label>Background:</label><br>
      <input nz-input placeholder="background" [(ngModel)]="background" />
    </div>

    <div class="InputContainer">
      <label>firstLogo:</label><br>
      <input nz-input placeholder="firstLogo" [(ngModel)]="firstLogo" />
    </div>

    <div class="InputContainer">
      <label>secondLogo:</label><br>
      <input nz-input placeholder="secondLogo" [(ngModel)]="secondLogo" />
    </div>

    <div class="InputContainer">
      <label>centerImage:</label><br>
      <input nz-input placeholder="centerImage" [(ngModel)]="centerImage" />
    </div>

    <div class="InputContainer">
      <label>footerDataOne:</label><br>
      <input nz-input placeholder="centerImage" [(ngModel)]="footerDataOne" />
    </div>

    <div class="InputContainer">
      <label>footerDataTwo:</label><br>
      <input nz-input placeholder="centerImage" [(ngModel)]="footerDataTwo" />
    </div>

    <div class="InputContainer">
      <label>footerDataThree:</label><br>
      <input nz-input placeholder="centerImage" [(ngModel)]="footerDataThree" />
    </div>

    <div class="InputContainer">
      <button nz-button nzType="primary" (click)="createImage()">Create Image</button>
    </div>
  </div>

  <div class="outerMainImageContainer">
    <div class="mainImageContainer viewingOnly" [ngStyle]="{'background': background, 'min-width': fullWidth, 'min-height': fullHeight}" id="imageContainer">
      <div class="imageContainer">
        <img [src]="centerImage">
      </div>
      <div class="footerContainer">
        <div class="footerData">
          <div><img [src]="firstLogo" load="lazy" height="66px" width="66px"></div>
          <div clas="flex-center">{{footerDataOne}}</div>
        </div>
        <div class="footerData">
          <div></div>
          <div clas="flex-center">{{footerDataTwo}}</div>
        </div>
        <div class="footerData">
          <div><img [src]="secondLogo" load="lazy" height="64px" width="90px"></div>
          <div clas="flex-center">{{footerDataThree}}</div>
        </div>
      </div>
    </div>
  </div>

</div>

<canvas id="previewImg"></canvas>

